:root {
  --primary: #6f42c1;
  --red: #dc3545;
}

.user-table {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
}
.title {
  width: 100%;
  padding: 1rem;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title h5 {
  font-weight: 500;
  font-size: 2rem;
  position: relative;
}
.title h5::before {
  content: "";
  width: 7px;
  height: 100%;
  position: absolute;
  left: -10px;
  background-color: var(--red);
}
.title .search-div {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(207, 109, 147, 0.269);
  border-radius: 7px;
  padding: 5px;
  border-bottom: 1px solid var(--red);
}
.title .search-div input {
  padding: 3px 6px;
  border: none;
  outline: none;
  background-color: transparent;
  /* box-shadow: 0px 4px 7px 0px; */
  border-radius: 7px;
  /* border-bottom: 1px solid var(--primary); */
}
.title .search-div input::-webkit-input-placeholder {
  color: black;
}
.title .search-div i {
  color: black;
  font-size: 15px;
  margin: 0;
}
table tbody tr td span {
  padding: 4px;
  color: white;
  background-color: red;
}
@media screen and (max-width: 769px) {
  .title {
    flex-direction: column;
    align-items: flex-start;
    padding: 5px;
  }
}
@media screen and (max-width: 409px) {
  .title h5 {
    font-size: 16px;
  }
  .title .search-div {
    /* width: 100%; */
    border-radius: 0;
    padding: 2px 7px;
    margin-top: 10px;
    justify-content: space-evenly;
  }
  .title .search-div input {
    padding: 3px 5px;
  }
}
@media screen and (max-width: 428px) {
  table tbody tr td,
  table tbody tr td:before {
    font-size: 9px;
  }
  table tbody tr td input[type="file"] {
    font-size: 10px;
    width: 130px;
  }
}
@media screen and (max-width: 428px) {
  .title .search-div input {
    width: 100px;
    font-size: 10px;
  }
  .title .search-div i {
    font-size: 10px;
  }
}
