* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.home-section .home-content {
  position: absolute;
  top: 0;
  width: 100%;
}
.dashboard-section-1 {
  position: absolute;
  top: 50px;
  flex-direction: column;
  width: 100%;
}
section {
  padding: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  /* background: rgb(222, 38, 234); */

  height: 100vh;
}
section .edit {
  display: flex;
  box-shadow: 0px 10px 40px 0 var(--primary);
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin-top: 20px;
  border-radius: 10px;
  background: linear-gradient(
    10deg,
    rgba(222, 38, 234, 0.3925945378151261) 26%,
    rgba(83, 11, 125, 1) 85%
  );
  color: white;
  width: 80%;
}
section .edit .left-edit img {
  height: 300px;
}
section .edit .right-edit {
  /* width: 80%; */

  flex: 1;
  align-self: inherit;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
}
section .edit .right-edit h1 {
  color: var(--red);
  font-size: 40px;
  font-weight: 700;
}
section .edit .right-edit p {
  padding-top: 10px;
}
button {
  padding: 8px 10px;
  border: none;
  background-color: var(--red);
  color: white;
  transition: 0.3s ease;
  cursor: pointer;
  border-radius: 4px;
}
button:hover {
  background-color: black;
}
button#edit {
  align-self: flex-end;
}
:root {
  --primary: #6f42c1;
  --red: #dc3545;
}
.reset-password {
  box-shadow: 0px 10px 40px 0 var(--primary);

  padding: 20px;
  margin-top: 20px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 80%;
  display: none;
  /* background-color: var(--red); */
}
form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.form-control {
  position: relative;
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
input {
  padding: 6px 10px;
  border: 1px solid gray;

  background-color: white;
  width: 80%;
}
label {
  width: 20%;
}
.form-control.success input {
  border-color: #2ecc71;
}
#done {
  margin-top: 20px;
  background-color: var(--primary);
}

.form-control.error input {
  border-color: #e74c3c;
}
.form-control i {
  position: absolute;
  top: 24px;
  right: 10px;
  visibility: hidden;
}
.form-control.success i.fa-check-circle {
  color: #2ecc71;
  visibility: visible;
}
.form-control.error i.fa-exclamation-circle {
  color: #e74c3c;
  visibility: visible;
}
.form-control small {
  visibility: hidden;
  position: absolute;
  top: 50px;
  left: 180px;
  font-size: 14px;
  /* background-color: #e74c3c; */
}
.form-control.error small {
  color: #e74c3c;
  visibility: visible;
}
.form-control.error .input-p p {
  margin-top: 14px;
}

@media screen and (max-width: 1316px) {
  .form-control small {
    left: 150px;
  }
}
@media screen and (max-width: 1030px) {
  .form-control small {
    left: 110px;
  }
}
@media screen and (max-width: 796px) {
  .form-control small {
    left: 0px;
    top: 66px;
  }
  .form-control {
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
  }
  .form-control input,
  .form-control label {
    width: 100%;
  }
  .form-control i {
    right: 10px;
    top: 45px;
  }
}
@media screen and (max-width: 763px) {
  section .edit {
    width: auto;
  }
  section .edit,
  section .reset-password {
    width: 100%;
  }
}
@media screen and (max-width: 437px) {
  section .edit {
    flex-direction: column;
    align-items: flex-start;
  }
  button#edit {
    align-self: flex-start;
    margin-left: 10px;
  }
  section {
    height: auto;
  }
  section .edit .right-edit {
    padding: 3px;
  }
}
